/* Default style for the spacer */
.indent-spacer {
  display: inline-block;
}

/* Indentation levels, adjusting width to create space */
.indent-0 {
  width: 0;
}

.indent-1 {
  width: 10px;
}

.indent-2 {
  width: 20px;
}

.indent-3 {
  width: 30px;
}

.indent-4 {
  width: 40px;
}

.indent-5 {
  width: 50px;
}

.indent-6 {
  width: 60px;
}

.indent-7 {
  width: 60px;
}
