<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1> {{ title }}</h1>
    {% for group in groups %}
      {% for element in group %}
        {% if element.type == 'title' and element.level == 1 %}
          <h2>{{ element.value }}</h2>
        {% elseif element.type == 'title' and element.level == 2 %}
          <h3>{{ element.value }}</h3>
        {% elseif element.type == 'title' and element.level == 3 %}
          <h4>{{ element.value }}</h4>
        {% elseif element.type == 'paragraph' %}
          {% if '@parameter' in element.value %}
            {% for parameter in element.parameters %}
              {% if parameter.type == 'link' %}
                <p>{{ element.value|replace({'@parameter': parameter.src}) }}</p>
              {% elseif parameter.type == 'list' %}
                <p>{{ element.value|replace({'@parameter': parameter.items|join(', ')}) }}</p>
              {% endif %}
            {% endfor %}
          {% else %}
            <p>{{ element.value }}</p>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </body>
</html>
