{#
/**
 * @file
 * Theme override for a set of indentation spans.
 *
 * These <span> tags are used aligning the documentation content.
 *
 * Available variables:
 * - size: Optional. The number of indentations to create.
 */
#}
{# Check if size variable is passed, and set default size if not #}
{{ attach_library('documentation_generator/indentation_styles') }}
{% set indent_size = size is defined ? size : 1 %}
<span class="indent-spacer indent-{{ indent_size }}"></span>
